<div class="ui right floated middle aligned mini statistic">
    <br />
    <div class="value">
        {{event.attendees.length}}&nbsp;&nbsp;<i {{action "toggleAttendance" event}} class="ui circle medium middle {{event.icon}}"></i>
    </div>
    <div class="label">
        Attending
    </div>
</div>
<div class="item">
    <div class="middle aligned content">
        <a class="ui header"><em>{{event.title}}</em></a>
        <div class="ui meta">
            <strong>
                <span class="event-type">{{event.type}} - </span>
                <span class="event-host">Hosted By: {{event.host}}</span>
            </strong>
        </div>
        <div class="ui description">{{event.description}}</div>
        <div class="ui extra">
          <a href={{concat "https://www.google.com/maps/place/" event.mapURL}} target="_blank">{{event.address}}</a>
        </div>
    </div>
    <div class="ui hidden divider"></div>
</div>
