<div class="ui container">
    <h1 class="ui header">About Us</h1>
    <div class="ui container">
        <div>
            <p>
                Confer was created by professionals from a wide variety of disciplines that require regular continuing education credits.
            </p>
            <p>
                After years of the typical, convoluted process of finding relevant conferences, trying to follow our favorite presenters, and keeping on top of evidence-based practices, our team has come together to find a better way to develop as professionals.
            </p>
            <p>
                And, as happy as we are with the result, we've decided to open Confer up to our peers as well.
            </p>
        </div>
    </div>
</div>
