<div class="container">
  <div class="ui blue inverted menu">
    {{#link-to 'index' class="item"}}
        Home
    {{/link-to}}
    {{#link-to 'events' class="item"}}
        Events
    {{/link-to}}
    {{#link-to 'about' class="item"}}
        About Us
    {{/link-to}}
    <div class="right menu">
      {{#link-to 'login' class="item"}}
        Login
        {{/link-to}}
      </div>
  </div>
  <div class="body">
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>
