<div class="ui container">
  <h1 class="ui header">
    Events
  </h1>

  <div>
    {{#link-to 'new-event'}}
      <button class="ui primary mini icon button">
        <i class="plus icon"></i>
      </button>
    {{/link-to}}
  </div>

  <div class="ui relaxed divided list">
    {{#each model as |eventItem|}}
      {{event-listing event=eventItem}}
    {{/each}}
  </div>

</div>
