<div class="ui container">
    <h1 class="ui header">Welcome to Confer</h1>
    <div class="ui container">
        <div>
            Confer is a new way of professional development conference participation.
        </div>
        <div>
            Whether you are an organizer, a presenter, or an attendee, Confer seeks to improve on your experience, regardless of role.
        </div>
        <div class="ui relaxed list">
            <div class="item">
                <div class="content">
                    <div class="header">
                        Organizers can:
                    </div>
                    <div class="ui container">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    Create Events
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Recruit presenters and collect proposals
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Upload agendas and programs for each of your events
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Consolidate registrations, collection of fees, and bill payment
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Collect reviews from attendees and display each event's aggregated ratings
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">
                        Presenters can:
                    </div>
                    <div class="ui container">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    Promote your research and upload your presentation proposals
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Provide "take home" materials for attendees
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Prepare and collect attendee surveys and reviews from attendees, and display each event's aggregated ratings in your portfolio
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Collect attendance info and provide CEU certificates
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">
                        Attendees can:
                    </div>
                    <div class="ui container">
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    Search for events or presentations important to your professional development
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Register to attend events and book travel accommodations all in one place
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Save favorite events or presenters to be notified when future reservations are available
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Book time for small-group Q&amp;A when offered by presenters
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Get updates and event maps sent via notification when agendas change.
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    Save records of
                                    <div class="ui container">
                                        <div class="ui tight list">
                                            <div class="item"><i class="right caret icon"></i>
                                                your attendance at an event,
                                            </div>
                                            <div class="item"><i class="right caret icon"></i>
                                                the length of a presentation and any earned CEUs,
                                            </div>
                                            <div class="item"><i class="right caret icon"></i>
                                                link your records to details for each event you attend, and
                                            </div>
                                            <div class="item"><i class="right caret icon"></i>
                                                retrieve your history if required for your professional board.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
