<div class="ui container">
    <h1 class='ui header'>
        Add a New Event
    </h1>
    <div class="ui small form">
      <div class="two fields">
        <div class="field">
          <label>Title</label>
          {{input value=title placeholder="Event Title"}}
        </div>
        <div class="field">
          <label>Hosting Organization</label>
          {{input value=host placeholder="Host Name"}}
        </div>
      </div>
      <div class="field">
          <label>Event Description</label>
          {{textarea value=description rows="3" placeholder="Describe Your Event"}}
      </div>
      <div class="field">
        <label>Event Address</label>
            <div class="fields">
                <div class="nine wide field">
                    {{input value=street placeholder="Street Address"}}
                </div>
                <div class="four wide field">
                    {{input value=city placeholder="City"}}
                </div>
                <div class="one wide field">
                    {{input value=state placeholder="State"}}
                </div>
                <div class="two wide field">
                    {{input value=zip placeholder="Zip Code"}}
                </div>
            </div>
        </div>
        <div class='inline fields'>
            <label>Event Type:</label>
            <div class="field">
                <div class="ui checkbox">
                    {{ui-checkbox label="Banquet" checked=banq-checked onChange=(action (mut banq-checked))}}
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    {{ui-checkbox label="Conference" checked=conf-checked onChange=(action (mut conf-checked))}}
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    {{ui-checkbox label="In-Service" checked=serv-checked onChange=(action (mut serv-checked))}}
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    {{ui-checkbox label="Presentation" checked=pres-checked onChange=(action (mut pre-checked))}}
                </div>
            </div>
        </div>
        <button {{action "addEvent"}} class="ui primary submit button">Submit</button>
    </div>
</div>
